###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
/assets
/node_modules


# Игнорировать все файлы и папки в public/images/pages
/public/images/pages/*
# Отменить игнорирование для файла .gitkeep в public/images/pages
!/public/images/pages/.gitkeep

/public/images/directions/*
!/public/images/directions/.gitkeep

/public/images/*
!/public/images/.gitkeep


###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
